extends ./layout.jade

block content
    //ADD EVERYTHING LATER
    img#groupCanvas(hidden)
    canvas#drawingCanvas.drawingCanvas(width=700,height=700)
    a#downloadLink(hidden,download='mySketch.png')
