body {
    background-color:#000;
    text-align: center;
}

.drawingCanvas {
    margin: 0 auto;
    background-color: #FFF;
    margin-top:50px;
    cursor: url("../images/pencil.png"), crosshair;
}