head
    title Sketch Together
    link(href='https://fonts.googleapis.com/css?family=Oswald',rel='stylesheet',type='text/css')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel="stylesheet",href="/static/css/style.css",type="text/css")